 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #040114;
    padding: 20px 80px;
    display: inline-block;
}
/* .container1{
    width: 100%;
    height: 100vh;
    background-color: #040114;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 20px 80px;
}
Navigation Bar
.navbar{
    width: 100%;
    height: 15%;
    align-items: center;
    display: flex;
    justify-content: space-between; 
}




body{
    margin: 0px;
    padding: 0px;
    background-color: wheat;
}
button{ 
    color: white;
    background: black;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    margin: 20px;
    font-family: raleway;
    font-size: 1.1em;
    font-weight: 700;
}
.box{
    height: 100px;
    width: 100px;
    background: #d44d4d;
    margin: 100px;
    transition-duration: .5s;
    transition-property: width;
    transition-timing-function: ease-in-out;
}
.box:hover{
    background: #3dccc7;
}


.circle{
    left: 100px;
    top: 100px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(55, 78, 179);
}

.boxed{
    top: 150px;
    left: 300px;
    position: absolute;
    display: inline-block;
    padding: 3em;
    border: 2px solid transparent;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    background-clip: padding-box;
    color: #4614d1;
} */

div{
    height: 50px;
    width: 60px;
    cursor: pointer;
    margin: 20px;
    font-family: raleway;
    font-size: 2em;
    margin: 30px;
    text-transform: uppercase;
    font-size: 100px;
    display: block;
    align-items: center;

}


.d{
    animation: shadow-wave-d 2s linear infinite;
}
.y{
    animation: shadow-wave-y 2s linear infinite;
}
.n{
    animation: shadow-wave-n 2s linear infinite;
}
.a{
    animation: shadow-wave-a 2s linear infinite;
}
.m{
    animation: shadow-wave-m 2s linear infinite;
}
.i{
    animation: shadow-wave-i 2s linear infinite;
}
.x{
    animation: shadow-wave-x 2s linear infinite;
}

:root {
    --primary: #22D2A0;
    --secondary: #192824;
    --back: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
    --aqua: #00ffff;
    --color: #fbff00;
    --blue: #4614d1;
  } 

    @keyframes shadow-wave-d {
        0%{color: var(--back);}
        20%{color: var(--orange);}
        40%{color: var(--red);}
        60%{color: var(--yellow);}
        80%{color: var(--green);}
        100%{color: var(--color);}
    }
    @keyframes shadow-wave-y {
        0%{color: var(--color);}
        20%{color: var(--green);}
        40%{color: var(--yellow);}
        60%{color: var(--red);}
        80%{color: var(--orange);}
        100%{color: var(--back);}
    }
    @keyframes shadow-wave-n {
        0%{color: var(--red);}
        20%{color: var(--blue);}
        40%{color: var(--orange);}
        60%{color: var(--back);}
        80%{color: var(--secondary);}
        100%{color: var(--primary);}
    }
    @keyframes shadow-wave-a {
        0%{color: var(--aqua);}
        20%{color: var(--color);}
        40%{color: var(--green);}
        60%{color: var(--yellow);}
        80%{color: var(--red);}
        100%{color: var(--orange);}
    }
    @keyframes shadow-wave-m {
        0%{color: var(--secondary);}
        20%{color: var(--aqua);}
        40%{color: var(--color);}
        60%{color: var(--green);}
        80%{color: var(--yellow);}
        100%{color: var(--orange);}
    }
    @keyframes shadow-wave-i {
        0%{color: var(--blue);}
        20%{color: var(--secondary);}
        40%{color: var(--aqua);}
        60%{color: var(--color);}
        80%{color: var(--orange);}
        100%{color: var(--red);}
    }
    @keyframes shadow-wave-x {
        0%{color: var(--orange);}
        20%{color: var(--bac);}
        40%{color: var(--secondary);}
        60%{color: var(--aqua);}
        80%{color: var(--red);}
        100%{color: var(--blue);}
    }
    