body{
    margin: 0px;
    padding: 0px;
    background-color: wheat;
}
.box{
    height: 100px;
    width: 100px;
    background: #d44d4d;
    margin: 100px;
    transition-duration: .5s;
    transition-property: width;
    transition-timing-function: ease-in-out;
}
.box:hover{
    background: #3dccc7;
}


.circle{
    left: 100px;
    top: 100px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(55, 78, 179);
}
.boxed{
    top: 150px;
    left: 300px;
    position: absolute;
    display: inline-block;
    padding: 3em;
    border: 2px solid transparent;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    background-clip: padding-box;
}